.itemStackLayout {
    text-align: left;
    vertical-align: center;
    font-size: 16;
    color:#404040;
}

.labelName {
    font-size: 20;
    margin-left: 15;
}

.labelTitle {
    font-size: 14;
    font-weight: bold;
    margin-left: 18;
    margin-bottom: 10;   
}